* {margin:0px; padding:0px;}
a, a:visited{
	color:black;
	text-decoration:none;
	font-style:italic;
}
a:hover, a:active{
	color:blue;
}
a.sitelink{
	display:block;
	text-decoration:none;
	font-style:normal;
	color:white;
	padding-left:10px;
	width:calc(100% - 10px);
	padding-bottom:1em;
	background:blue;
}
a.sitelink:hover{
	background:green;
}
a.sitelink:active{
	background:gray;
}
.post-title{
	font-style:normal;/*Counteract links being italicized*/
}
.post-meta{
	color:gray;
	padding-left:5px;
}
ol, ul{margin-left:20px;}/*shift right*/
table{border-collapse:collapse;}/*Collapse cell and table borders into one*/
table, tr, td{border:1px solid black;}
