* {margin:0px; padding:0px;}
a, a:visited{
	color:black;
	text-decoration:none;
	font-style:italic;
}
a:hover, a:active{
	color:blue;
}
a.sitelink{
	display:block;
	text-decoration:none;
	font-style:normal;
	color:white;
	padding-left:10px;
	width:calc(100% - 10px);
	padding-bottom:1em;
	background:blue;
}
a.sitelink:hover{
	background:green;
}
a.sitelink:active{
	background:gray;
}
.post-title{
	font-style:normal;
}
.post-meta{
	color:gray;
	padding-left:5px;
}
