#main{
	height: 400px;
	vertical-align: top;
}
iframe#main{width: 600px;}
#main-wrapper{
	display: inline-block;
	background-color: white;
	border: 1px solid black;
	padding: 20px;
}
#main-wrapper > *{display: inline-block;}
#link-table{border-collapse: collapse;}
#link-table td{border: 1px solid black;}
#link-table img{
	max-width: 75px;
	max-height: 75px;
}
