#main-wrapper{text-align: center;}
#main{
  height: 500px;
}
#link-table{
  border-collapse: collapse;
}
#link-table td{
  border: 1px solid black;
}
#link-table img{
  max-width: 100px;
  max-height: 100px;
}
