body{
	display: table;
	width: 100%;
	height: 100%;
}
#header{height: 5em;}
#header-wrapper, #wrapper{display: table-row;}
#header-wrapper > *, #wrapper > *{display: table-cell;}
#sidebar{
	width: 150px;
	height: 100%;
}
#content{
	vertical-align: top;
	padding-left: 0.5em;
	padding-top: 0.5em;
}
#logo, #header-text{height: 80%;}/*Last full-blue color stop in gradient*/
#header-text{overflow: hidden;}
#sidebar *{display: block;}
