#header{
	background: blue;
	width: 100%;
	text-align: center;
	background: blue;
}
#logo{height: 5em;}
#sidebar{
	float: left;
	width: 100px;
	height: 100%;
	background: blue;
}
#title, #sidebar{color:white;}
#tagline{color:#AAA;}
#title, #tagline, #sidebar{font-family: "Source Sans Pro";}
#sidebar > a{
	color: inherit;
	display: block;
	text-decoration: none;
	font-style: normal;
	padding-left: 10px;
	padding-right: 10px;
	box-sizing: border-box;
	width: 100%;
	padding-bottom: 1em;
	background: transparent;
}
#sidebar > :hover{background: green;}
#sidebar > :active{background: gray;}
#content-wrapper{
	width:calc(100% - 100px);
	height:100%;
	overflow:scroll;
	padding-left:1em;
	padding-top: 1em;
	background: linear-gradient(90deg, blue 0%, transparent 5%, transparent 100%), linear-gradient(180deg, blue 0%, transparent 10%, transparent 100%);
}
