<head>
	<title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/res/template.css"/>
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/res/main.css"/>
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900' rel='stylesheet' type='text/css'/>
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="{{ site.baseurl }}/res/util.js"></script>
	{% if page.stylesheet %}<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/res/{{ page.stylesheet }}.css"/>{% endif %}
	{% if page.script %}<script type="text/javascript" src="{{ site.baseurl }}/res/{{ page.script }}.js"></script>{% endif %}
	{% include icon.html %}
</head>
