<script>
$(function(){
	var scores = {};
	$('#quotes').children().each(function(){
		var names = $(this).children('i').text().split(', ');
		names.splice(names.length-1, 1);
		if(names.length == 1 && names[0].contains('and')) names = names[0].split('and');
		console.log(names);
		for(var i=0; i<names; ++i){
			var name = names[i].replace('and', '').replace(/\([^\)]+\)/, '').trim();
			if(quotes[name]) quotes[name]++;
			else quotes[name] = 1;
		}
	});
	console.log(scores);
	var scoreArr = [];
	for(var name in quotes){
		scoreArr.push({name: name, value: scores[name]});
	}
	scoreArr.sort(function(a, b){
		return b.value - a.value;//Sort descending on score
	});
	var rankings = $('#rankings');
	for(var i=0; i<scoreArr.length; ++i){
		$('<li>').text(scoreArr[i].name + ': ' + scoreArr.value).appendTo(rankings);
	}
});
</script>
