<html>
	{% include head.html %}
	<body>
		<div style="width:100%; height:75px; color:blue;">
			<img src="/images/logo.png" style="height:100%; vertical-align:middle;"/>
			<p style="display:inline; margin-left:20px; font-size:40px;">Iron Patriots</p>
			<p style="display:inline; margin-left:20px; font-size:20px; color:gray; float:right;">FRC Team 4131 from Liberty High School</p>
		</div>
		<div style="width:100%; height:calc(100% - 75px);">
			<div style="width:100px; height:100%; background:blue;">
				<a class="sitelink" href="/">Home</a>
				<a class="sitelink" href="/blog/">Blog</a>
				<a class="sitelink" href="/libertyrobotics.html">What is Liberty Robotics?</a>
				<a class="sitelink" href="/contact.html">Contact Us</a>
				<a class="sitelink" href="https://github.com/LibertyHighSchoolRobotics/Media2014" target="_blank">Media</a>
				<a class="sitelink" href="/sponsorship.html">Sponsors</a>
				<a class="sitelink" href="http://www.youtube.com/channel/UC4yU-32WIU4Czi8nTdSphrQ" target="_blank">YouTube</a>
			</div>
			<div style="width:calc(100% - 100px); height:100%;">
				{{ content }}
			</div>
		</div>
	</body>
</html>
