<html>
	{% include head.html %}
	<body>
		<div id="header-wrapper">
			<div id="filler"></div>
			<div id="header">
				<img id="logo" src="{{ site.baseurl }}/res/img/logo.png"/>
				<div id="header-text">
					<h1 id="title">Iron Patriots</h1>
					<h3 id="tagline">FRC Team 4131 from Liberty High School</h3>
				</div>
			</div>
		</div>
		<div id="wrapper">
			<nav id="sidebar">
				<span class="log">page.url = {{ page.url }}</span>
				{% for section in site.sections %}
					{% assign active = false %}
					<span class="log">section.url = {{ section.url }}</span>
					{% if page.url contains section.url %}
						<span class="log">page.url contains section.url</span>
						{% assign active = true %}
					{% elsif section.alts %}
						<span class="log">section.alts = {{ section.alts }}</span>
						{% for alt in section.alts | split: "," %}
							<span class="log">alt = {{ alt }}</span>
							{% if page.url contains alt %}
								{% assign active = true %}
								<span class="log">page.url contains {{ alt }}</span>
							{% endif %}
						{% endfor %}
					{% endif %}
					<a href="{{ site.baseurl }}{{ section.url }}" {% if active == true %} class="active" {% endif %}>{{ section.text }}</a>
				{% endfor %}
			</nav>
			<div id="content" {% if page.align %}style="text-align:{{ page.align }}"{% endif %}>
				{{ content }}
			</div>
		</div>
	</body>
</html>
