<html>
	{% include head.html %}
	<body>
		<div id="header-wrapper">
			<div id="filler"></div>
			<div id="header">
				<img id="logo" src="{{ site.baseurl }}/res/img/logo.png"/>
				<div id="header-text">
					<h1 id="title">Iron Patriots</h1>
					<h3 id="tagline">FRC Team 4131 from Liberty High School</h3>
				</div>
			</div>
		</div>
		<div id="wrapper">
			<nav id="sidebar">
				{% for section in site.sections %}
					<a href="{{ site.baseurl }}{{ section.url }}" {% if page.url contains section.url %} class="active" {% endif %}>{{ section.text }}</a>
				{% endfor %}
			</nav>
			<div id="content" {% if page.align %}style="text-align:{{ page.align }}"{% endif %}>
				{{ content }}
			</div>
		</div>
	</body>
</html>
